{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Okie Flat</h1>
  <p class="lead">
    For Sale: A 240 acre producing organic farm in beautiful Smith Valley, NV. 12.3 acres
    certified organic; 175 acres pending certification. Extensive underground water rights.
    The last patented homestead in the lower 48 states under the US Homestead Act of
    1862.
  </p>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Okie Flat, formally known as the Joe R. & Eleanor M. Mathis Trust, is a family-owned
      agricultural endeavor, held by the Mathis Family for over half a century. It is located in
      prestigious Smith Valley, NV, approximately an hour's drive from Carson City and Lake Tahoe
      and about a 1.5 hour drive from Reno, NV.
    </p>
      <p>
      The Flat is a 240 acre predominantly level property located above the valley floor. It has
      sweeping views toward the south and east of the Sweetwater and Desert Creek ranges along
      with a splendid view of Mt. Grant. The Pinenut Range forms the western boundary of the valley,
      towering over the property. Toward the south, a portion overlooks the West Walker River.
      There is an ideal 5 acre view site of both the valley and the river for a dream home or business
      location.
    </p>
    <p class="container">
      <div class="text-center row">
        <div class="col-xs-12 col-md-6">
          <a href="../static/images/photos/3.jpg">
            <img src="../static/images/thumbs/t03.jpg" class="img-thumbnail" />
          </a>
        </div>
        <div class="col-xs-12 col-md-6">
          <a href="../static/images/photos/5.jpg">
            <img src="../static/images/thumbs/t05.jpg" class="img-thumbnail" />
          </a>
        </div>
      </div>
    </p>
    <p>
      The acreage consists of eighty acres purchased from Lyon County in the late 1960's and
      160 acres that is registered as the last patented homestead in the contiguous United States.
      Designated as a property available in the Homestead Act of 1862, it was claimed and
      homesteaded by Joe R Mathis and his family, who received the patent from the United States
      Government on June 21, 1974.
    </p>

    <p>
      Because of the homestead claim, Okie Flat has always been devoted to agriculture. The
      working of the land for five years to achieve the patent status was directly responsible for the
      granting of extensive underground water rights. To this day, the property has been maintained
      as a farm. The only difference is 12.3 acres is now USDA certified organic and a remaining 175
      acres is pending certification with the application of a cover crop.
    </p>

    <p>
      Extremely valuable underground water rights in the Walker River Basin are an integral part of
      this property. Certificate number 8483 and Certificate number 6401 give a total of 351.6 AFA.
      There are 2 irrigation wells. One is a 500 ft. deep, 16" well capable of producing 2250 GPM.
    </p>
    <p>
      While the family has experimented with many diverse crops including grains in the 1960's
      through the 1990's and caliper trees, of which there approximately 3500 thriving in various kinds
      and sizes, we have found that organic vegetable crops are currently most in demand by a ready
      market in the Reno/Lake Tahoe area. A turn-key crop of the potatoes and melons begins in
      August. More potatoes come due in September as will hard squash and pumpkins. There are
      strawberry plants galore with potential for sale of the organic berries as well as organic plant
      stock. There is potential for numerous other crops, all of which can be found on our
      <a href="{{url_for('products')}}">Products</a> page.
    </p>
    <p class="container">
      <div class="text-center row">
        <div class="col-xs-12 col-md-4">
          <a href="../static/images/photos/11.jpg">
            <img src="../static/images/thumbs/t11.jpg" class="img-thumbnail" />
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="../static/images/photos/2.jpg">
            <img src="../static/images/thumbs/t02.jpg" class="img-thumbnail" />
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="../static/images/photos/10.jpg">
            <img src="../static/images/thumbs/t10.jpg" class="img-thumbnail" />
          </a>
        </div>
      </div>
    </p>
    <p>
      This property is designated RR-3 and can be subdivided into 5 acre ranch  parcels if desired, with a ready source of landscaping trees from the caliper tree farm on the property
    </p>
    <p>
      The manufactured home is a bright, sunny, 2 bedroom / 2 bath, single-level structure with large
      windows, cathedral ceiling and unobstructed views. There is 1,314 sq. ft. of living space. All
      appliances are included. It is on a permanent foundation and has its own house well for water.
    </p>
    <p>
      Okie Flat is located at
      <a href="https://www.google.com/maps/place/222+Artist+View/@38.8298554,-119.337027,980m/data=!3m2!1e3!4b1!4m2!3m1!1s0x8098320f9a5a924f:0xd3da20ac77e3912c">222 Artist View, Wellington, NV 89444</a>
      and is for sale at $1,599,800.00. we are open to any and all offers. please do not hesitate
      to contact us. an appointment must be made to view this property.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <h2>Contact Us</h2>
    <div class="col-md-6">
      <address>
        <strong>Richard M. Mathis</strong>
        <p><span class="glyphicon glyphicon-phone"></span> <a href="tel:+17028048504">(702) 804-8504</a></p>
        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:okieflat@gmail.com">Send E-mail</a></p>
      </address>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Nilima Srikantha</strong>
        <p><span class="glyphicon glyphicon-phone"></span> <a href="tel:+14258616611">(425) 861-6611</a></p>
        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:okieflat@gmail.com">Send E-mail</a></p>
      </address>
    </div>

  </div>
  <div class="col-md-4">
    <h2>Organic Produce</h2>
    <p>To view our selection of organic produce, please visit our products page.</p>
    <p><a class="btn btn-default" href="{{url_for('products')}}">View Products</a></p>
  </div>
</div>

  {% endblock %}
